<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div align="center" style="font-size:20px">
        <p>Login here!</p>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input name="username" id="username" type="text" placeholder="Username" maxlength="10"> <br>
            <label for="password">Password:</label>
            <input name="password" id="password" type="password" placeholder="Password" maxlength="10"><br>
            <input type="submit" name="Submit">
            <a href="/registerPage">Register?</a>
        </form>
    </div>
</body>
</html>