<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
  <div align="center">
    <form action="/register" method="post" style="font-size:20px">
      <p>Register Here! [{{status}}]</p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="username" maxlength="10"> <br>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" maxlength="10"><br>
      <input type="submit">
    </form>
    <a href="/">Login?</a>
  </div>
</body>
</html>